<!doctype html>
<html lang="en-GB">

<head>
    <meta charset="utf-8" />
    <title>Monopoly Probabilities</title>
    <link rel="icon" type="image/x-icon" href="$link(favicon.ico)">
    <link rel="stylesheet" type="text/css" href="$link(styles.css)" />
    <link rel="stylesheet" type="text/css" href="$link(board.css)" />
</head>

<body style="overflow: hidden;">
    <!-- Loading overlay -->
    <div id="loading" class="spinner_row">
        <div class="spinner_col">
            <div class="spinner"></div>
            <p id="spinnermsg">Loading...</p>
            <noscript>
                <h2>Javascript must be enabled to view this page</h2>
            </noscript>
        </div>
    </div>

    <div id="main" class="main" style="display: none;">
        <div class="main_col1">
            <!-- Board table -->
            <table id="board_tab" class="board_tab">
            </table>

            <!-- Roll frequency -->
            <h3>Roll Frequency:</h3>

            <div>
                <table class="rolltable">
                    <tbody>
                        <tr>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td class="rollgraphbar">
                                <div class="rollgraphval greenbg" id="rollgraph2"></div>
                            </td>
                            <td class="rollgraphbar">
                                <div class="rollgraphval greenbg" id="rollgraph3"></div>
                            </td>
                            <td class="rollgraphbar">
                                <div class="rollgraphval greenbg" id="rollgraph4"></div>
                            </td>
                            <td class="rollgraphbar">
                                <div class="rollgraphval greenbg" id="rollgraph5"></div>
                            </td>
                            <td class="rollgraphbar">
                                <div class="rollgraphval greenbg" id="rollgraph6"></div>
                            </td>
                            <td class="rollgraphbar">
                                <div class="rollgraphval greenbg" id="rollgraph7"></div>
                            </td>
                            <td class="rollgraphbar">
                                <div class="rollgraphval greenbg" id="rollgraph8"></div>
                            </td>
                            <td class="rollgraphbar">
                                <div class="rollgraphval greenbg" id="rollgraph9"></div>
                            </td>
                            <td class="rollgraphbar">
                                <div class="rollgraphval greenbg" id="rollgraph10"></div>
                            </td>
                            <td class="rollgraphbar">
                                <div class="rollgraphval greenbg" id="rollgraph11"></div>
                            </td>
                            <td class="rollgraphbar">
                                <div class="rollgraphval greenbg" id="rollgraph12"></div>
                            </td>
                        </tr>
                        <tr>
                            <td id="rollpct2" class="rollpct"></td>
                            <td id="rollpct3" class="rollpct"></td>
                            <td id="rollpct4" class="rollpct"></td>
                            <td id="rollpct5" class="rollpct"></td>
                            <td id="rollpct6" class="rollpct"></td>
                            <td id="rollpct7" class="rollpct"></td>
                            <td id="rollpct8" class="rollpct"></td>
                            <td id="rollpct9" class="rollpct"></td>
                            <td id="rollpct10" class="rollpct"></td>
                            <td id="rollpct11" class="rollpct"></td>
                            <td id="rollpct12" class="rollpct"></td>
                        </tr>
                        <tr>
                            <td id="rollpcterr2" class="rollpct"></td>
                            <td id="rollpcterr3" class="rollpct"></td>
                            <td id="rollpcterr4" class="rollpct"></td>
                            <td id="rollpcterr5" class="rollpct"></td>
                            <td id="rollpcterr6" class="rollpct"></td>
                            <td id="rollpcterr7" class="rollpct"></td>
                            <td id="rollpcterr8" class="rollpct"></td>
                            <td id="rollpcterr9" class="rollpct"></td>
                            <td id="rollpcterr10" class="rollpct"></td>
                            <td id="rollpcterr11" class="rollpct"></td>
                            <td id="rollpcterr12" class="rollpct"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="main_col2">
            <div class="buttons">
                <!-- Pause / play button -->
                <button class="greenbg" id="pause"></button>

                <!-- Strategy -->
                <button class="greenbg" id="strategy"></button>
            </div>

            <h3 class="stats_title">Game statistics:</h3>

            <div class="stats">
                <table>
                    <tbody>
                        <tr>
                            <td class="statlabel">Turns taken:</td>
                            <td id="stat_turns" class="stat"></td>
                        </tr>
                        <tr class="substat">
                            <td class="statlabel">Single move turns:</td>
                            <td id="stat_turns_single" class="stat"></td>
                            <td id="stat_turns_single_pct" class="statpct"></td>
                        </tr>
                        <tr class="substat">
                            <td class="statlabel">Double move turns:</td>
                            <td id="stat_turns_double" class="stat"></td>
                            <td id="stat_turns_double_pct" class="statpct"></td>
                        </tr>
                        <tr class="substat">
                            <td class="statlabel">Triple move turns:</td>
                            <td id="stat_turns_triple" class="stat"></td>
                            <td id="stat_turns_triple_pct" class="statpct"></td>
                        </tr>
                        <tr class="substat">
                            <td class="statlabel">Double double turns:</td>
                            <td id="stat_ddoubles" class="stat"></td>
                            <td id="stat_ddoubles_pct" class="statpct"></td>
                        </tr>
                        <tr class="substat">
                            <td class="statlabel">Triple double turns:</td>
                            <td id="stat_tdoubles" class="stat"></td>
                            <td id="stat_tdoubles_pct" class="statpct"></td>
                        </tr>
                        <tr>
                            <td class="statlabel">Moves made:</td>
                            <td id="stat_moves" class="stat"></td>
                        </tr>
                        <tr class="substat">
                            <td class="statlabel">Moves from double:</td>
                            <td id="stat_doubles_tot" class="stat"></td>
                            <td id="stat_doubles_tot_pct" class="statpct"></td>
                        </tr>
                    </tbody>
                </table>

                <br />

                <div class="leaderboard_title_div">
                    <h3 class="leaderboard_title">Leaderboard:</h3>
                    <!-- Split jail statistics button -->
                    <button class="greenbg" id="splitjail"></button>

                    <!-- Full leaderboard -->
                    <button class="greenbg" id="fullboard"></button>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th style="text-align: left;">Space</th>
                            <th style="text-align: right;">Arrivals</th>
                            <th style="text-align: right;">Arrival %</th>
                            <th style="text-align: right;">Expected</th>
                            <th style="text-align: right;">Error</th>
                        </tr>
                    </thead>
                    <tbody id="leaderboard"></tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Load the main script -->
    <script type="module" src="$link(main.js)"></script>
</body>

</html>