<!doctype html>
<html lang="en-GB">

<head>
    <meta charset="utf-8" />
    <title>Monopoly Probabilities</title>
    <link rel="icon" type="image/x-icon" href="$link(favicon.ico)">
    <link rel="stylesheet" type="text/css" href="$link(styles.css)" />
</head>

<body>
    <div class="board_div">
        <!-- Board table -->
        <table class="board_tab">
            <tbody>
                <tr>
                    <td id="0" class="space_cell"></td>
                    <td id="1" class="space_cell"></td>
                    <td id="2" class="space_cell"></td>
                    <td id="3" class="space_cell"></td>
                    <td id="4" class="space_cell"></td>
                    <td id="5" class="space_cell"></td>
                    <td id="6" class="space_cell"></td>
                    <td id="7" class="space_cell"></td>
                    <td id="8" class="space_cell"></td>
                    <td id="9" class="space_cell"></td>
                    <td id="10" class="space_cell"></td>
                </tr>
                <tr>
                    <td id="39" class="space_cell"></td>
                    <td colspan="9" rowspan="9">
                        <div class="title_div">
                            <div class="title_border">
                                <h1 class="title">MONOPOLY</h1>
                            </div>
                        </div>
                    </td>
                    <td id="11" class="space_cell"></td>
                </tr>
                <tr>
                    <td id="38" class="space_cell"></td>
                    <td id="12" class="space_cell"></td>
                </tr>
                <tr>
                    <td id="37" class="space_cell"></td>
                    <td id="13" class="space_cell"></td>
                </tr>
                <tr>
                    <td id="36" class="space_cell"></td>
                    <td id="14" class="space_cell"></td>
                </tr>
                <tr>
                    <td id="35" class="space_cell"></td>
                    </td>
                    <td id="15" class="space_cell"></td>
                </tr>
                <tr>
                    <td id="34" class="space_cell"></td>
                    <td id="16" class="space_cell"></td>
                </tr>
                <tr>
                    <td id="33" class="space_cell"></td>
                    <td id="17" class="space_cell"></td>
                </tr>
                <tr>
                    <td id="32" class="space_cell"></td>
                    <td id="18" class="space_cell"></td>
                </tr>
                <tr>
                    <td id="31" class="space_cell"></td>
                    <td id="19" class="space_cell"></td>
                </tr>
                <tr>
                    <td id="30" class="space_cell"></td>
                    <td id="29" class="space_cell"></td>
                    <td id="28" class="space_cell"></td>
                    <td id="27" class="space_cell"></td>
                    <td id="26" class="space_cell"></td>
                    <td id="25" class="space_cell"></td>
                    <td id="24" class="space_cell"></td>
                    <td id="23" class="space_cell"></td>
                    <td id="22" class="space_cell"></td>
                    <td id="21" class="space_cell"></td>
                    <td id="20" class="space_cell"></td>
                </tr>
            </tbody>
        </table>

        <div class="buttons">
            <!-- Pause / play button -->
            <button id="pause" style="display: none"></button>

            <!-- Split jail statistics button -->
            <button id="splitjail" style="display: none"></button>

            <!-- Full leaderboard -->
            <button id="fullboard" style="display: none"></button>
        </div>
    </div>
    <div class="stats">
        <h3>Game statistics:</h3>
        <table>
            <tbody>
                <tr>
                    <td class="statlabel">Turns taken:</td>
                    <td id="stat_turns" class="stat"></td>
                </tr>
                <tr class="substat">
                    <td class="statlabel">Single move turns:</td>
                    <td id="stat_turns_single" class="stat"></td>
                    <td id="stat_turns_single_pct" class="statpct"></td>
                </tr>
                <tr class="substat">
                    <td class="statlabel">Double move turns:</td>
                    <td id="stat_turns_double" class="stat"></td>
                    <td id="stat_turns_double_pct" class="statpct"></td>
                </tr>
                <tr class="substat">
                    <td class="statlabel">Triple move turns:</td>
                    <td id="stat_turns_triple" class="stat"></td>
                    <td id="stat_turns_triple_pct" class="statpct"></td>
                </tr>
                <tr class="substat">
                    <td class="statlabel">Double double turns:</td>
                    <td id="stat_ddoubles" class="stat"></td>
                    <td id="stat_ddoubles_pct" class="statpct"></td>
                </tr>
                <tr class="substat">
                    <td class="statlabel">Triple double turns:</td>
                    <td id="stat_tdoubles" class="stat"></td>
                    <td id="stat_tdoubles_pct" class="statpct"></td>
                </tr>
                <tr>
                    <td class="statlabel">Moves made:</td>
                    <td id="stat_moves" class="stat"></td>
                </tr>
                <tr class="substat">
                    <td class="statlabel">Moves from double:</td>
                    <td id="stat_doubles_tot" class="stat"></td>
                    <td id="stat_doubles_tot_pct" class="statpct"></td>
                </tr>
            </tbody>
        </table>

        <br />

        <h3>Leaderboard:</h3>
        <div id="leaderboard"></div>
    </div>

    <!-- Load the main script -->
    <script type="module" src="$link(main.js)"></script>
</body>

</html>